#divback {                
    background: rgba(0, 0, 0, 0.5);
    text-align:center;
    border-radius: 25px;
    padding: 20px;
    width: 75%;
    margin: auto;
}

#headerLogo {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }